<!-- Toolbar -->
<p>
    <mat-toolbar>
     <button mat-icon-button class="menu-icon" aria-label="icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Exchanger app</span>
    <span class="example-spacer"></span>
        <a mat-button a routerLinkActive="active" routerLink="/login" [disabled]="app.authenticated">Login</a>
        <a mat-button a (click)="logout()" [disabled]="!app.authenticated">Logout</a>
    <button mat-icon-button class="favorite-icon" aria-label="icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="share-icon" aria-label="icon-button with share icon">
     <mat-icon>share</mat-icon>
   </button>
  </mat-toolbar>
  </p>